.Rproj.user
.Rhistory
./data/.Rhistory
.RData
.Rhistory
.Rhistory
.Rhistory
*.pper
.Rproj.user/D19311EE/pcs/source-pane.pper
.Rhistory
.Rproj.user/D19311EE/pcs/source-pane.pper
.Rhistory
.Rproj.user/D19311EE/pcs/source-pane.pper
